.bundle
db/*.sqlite3
log/*.log
tmp/

lib/scraper/pinnacle/pinnacleFeed.asp
lib/scraper/betathome/oddxml.aspx
lib/scraper/expekt/exportServlet
lib/scraper/bet3000/*.html*
lib/scraper/bwin/*.html*
lib/scraper/bwin/*.aspx*
lib/scraper/bwin/football
lib/scraper/bwin/basketball
lib/scraper/bwin/baseball
lib/scraper/unibet/betting
lib/scraper/unibet/www.unibet.com
lib/scraper/unibet/*.odds
